<div class="container-fluid" style="overflow: hidden;">
    <div class="row step">
        <div class="col-md-6 leftContainer">
            <h1 style="text-align: center;">1950</h1>
            <div class="row">
                <h3 style="background: darkgrey;padding: 19px;">
                    Turing test- Alan Turing introduces paper Computer Machinery & Intelligence'. John McCarthy coins
                    the term Artificial Intelligence'. Invents "Lisp' a programming language for A1 applications.</h3>
                <div class="arrow-right"></div>
            </div>
        </div>
        <div class="col-md-6 rightContainer" style="padding-top: 6vh;">
            <img src="../../assets/1960.jfif">
        </div>
    </div>
    <div class="row step">
        <div class="col-md-6 leftContainer"  style="padding-top: 6vh;">
            <img src="../../assets/66.jfif">
        </div>
        <div class="col-md-6 rightContainer">
            <h1 style="text-align: center;">1966</h1>
            <div class="row">
                <h3 style="background: darkgrey;padding: 19px;">
                    The Automatic Language Processing Advisory Committee (ALPAC) report by the U.S. government details
                    the lack of progress in machine translations research, a major Cold War initiative with the promise
                    of automatic and instantaneous translation of Russian. The ALPAC report leads to the cancellation of
                    all government-funded MT projects. </h3>
                <div class="arrow-left"></div>
            </div>
        </div>
    </div>
    <div class="row step">
        <div class="col-md-6 leftContainer">
            <h1 style="text-align: center;">1980</h1>
            <div class="row">
                <h3 style="background: darkgrey;padding: 19px;">
                    Digital Equipment Corporations develops R1 (also known as XCON), the first successful commercial
                    expert system. Designed to configure orders for new computer systems, R1 kicks off an investment
                    boom in expert systems that will last for much of the decade, effectively ending the first "AI
                    Winter."</h3>
                <div class="arrow-right"></div>
            </div>
        </div>
        <div class="col-md-6 rightContainer" style="padding-top: 6vh;">
            <img src="../../assets/80.jfif">
        </div>
    </div>
    <div class="row step">
        <div class="col-md-6 leftContainer" style="padding-top: 6vh;">
            <img src="../../assets/90.jfif">
        </div>
        <div class="col-md-6 rightContainer">
            <h1 style="text-align: center;">1990</h1>
            <div class="row">
                <h3 style="background: darkgrey;padding: 19px;">
                    As computing technology improved, cheaper alternatives emerged and the Lisp machine market collapsed
                    in 1987, ushering in the "Second AI Winter." During this period, expert systems proved too expensive
                    to maintain and update, eventually falling out of favor. </h3>
                <div class="arrow-left"></div>
            </div>
        </div>
    </div>

    <div class="row step">
        <div class="col-md-6 leftContainer">
            <h1 style="text-align: center;">2005</h1>
            <div class="row">
                <h3 >
                    STANLEY, a self-driving car, wins the DARPA Grand Challenge. The U.S. military begins investing in
                    autonomous robots like Boston Dynamic's "Big Dog" and iRobot's "PackBot."</h3>
                <div class="arrow-right"></div>
            </div>
        </div>
        <div class="col-md-6 rightContainer" style="padding-top: 6vh;">
            <img src="../../assets/05.jfif">
        </div>
    </div>

    <div class="row step">
        <div class="col-md-6 leftContainer" style="padding-top: 6vh;">
            <img src="../../assets/12.jfif">
        </div>
        <div class="col-md-6 rightContainer">
            <h1 style="text-align: center;">2012</h1>
            <div class="row">
                <h3 style="background: darkgrey;padding: 19px;">
                    Andrew Ng, founder of the Google Brain Deep Learning project, feeds a neural network using deep
                    learning algorithms 10 million YouTube videos as a training set. The neural network learned to
                    recognize a cat without being told what a cat is, ushering in breakthrough era for neural networks
                    and deep learning funding.</h3>
                <div class="arrow-left"></div>
            </div>
        </div>
    </div>

    <div class="row step">
        <div class="col-md-6 leftContainer">
            <h1 style="text-align: center;">2016</h1>
            <div class="row">
                <h3 style="background: darkgrey;padding: 19px;">
                    Google DeepMind's AlphaGo defeats world champion Go player Lee Sedol. The complexity of the ancient
                    Chinese game was seen as a major hurdle to clear in AI.</h3>
                <div class="arrow-right"></div>
            </div>
        </div>
        <div class="col-md-6 rightContainer" style="padding-top: 6vh;">
            <img src="../../assets/16.jfif">
        </div>
    </div>
</div>