<div class="container-fluid" style="position: fixed;z-index: 10;">
  <div class="row" style="background-color: black;height:7%;">
    <div class="col-md-3" style="color:white;padding: 0px;">
      <img src="../assets/logo1.PNG" style="height: 7vh;">
    </div>
    <div class="col-md-6" style="margin-top: 2vh;text-align: center;">
      <div class="option" style="color: white;font-size: large;cursor: pointer;text-align: left;margin-left: 35%;">
        Powered by AI
      </div>
    </div>
    <div class="col-md-3" style="text-align: right;">
      <a href="http://www.twitter.com" target="_blank" title="Twitter"><img src="../assets/icons/twitter-48.png" class="dashIcon"></a>
      <a href="http://www.facebook.com" target="_blank" title="Facebook"><img src="../assets/icons/facebook-48.png" class="dashIcon"></a>
      <a href="http://www.gmail.com" target="_blank" title="Gmail"><img src="../assets/icons/google-48.png" class="dashIcon"></a>
      <a href="http://www.instagram.com" target="_blank" title="Instagram"><img src="../assets/icons/instagram-48.png" class="dashIcon"></a>
      <img src="../assets/icons/mail-48.png" class="dashIcon">
  </div>
  </div>
  <div class="row" style="background-color: white;height: 5vh;padding-left: 16vw;padding-top: 1vh;border-bottom: solid black;">
    <div class="option" style="color: black;font-size: large;cursor: pointer;text-align: left;margin-left: 4%;">
      About us
    </div>
    <div class="option" style="color: black;font-size: large;cursor: pointer;text-align: left;margin-left: 4%;">
      Projects
    </div>
    <div class="option" style="color: black;font-size: large;cursor: pointer;text-align: left;margin-left: 4%;">
      Careers
    </div>
    <div class="option" style="color: black;font-size: large;cursor: pointer;text-align: left;margin-left: 4%;">
      Contact Us
    </div>
  </div>
</div>

<div class="container-fluid other" style="overflow-x: hidden;">
  <div class="row" style="overflow-y: auto;">
    <video class="vidback" src="../assets/background.mp4" autoplay></video>
    <div class="hightext">
      <table style="border-spacing: 10px;border-collapse: separate;">
        <tr>
          <td>
            <h1>How Artificial Intelligence </h1>
          </td>
          <td style="margin-left: 3%;">
            <h1 style="color: #576ab2;">&lt;Ai&gt;</h1>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center;">
            <h1>Is Reinventing Manufacturing</h1>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" style="background-color: white;height: 46vh;">
    <p style="font-size: 26px;margin: auto;text-align: center;max-width: 850px;font-weight: 600;">
      Artificial intelligence (AI) refers to the simulation of human intelligence in machines that are
      programmed to think like humans and mimic their actions. The term may also be applied to any
      machine that exhibits traits associated with a human mind such as
      learning and problem-solving.
    </p>
  </div>
  <div class="row" style="background-color: #828eff;height: 46vh;">
    <p style="font-size: 26px;margin: auto;text-align: center;max-width: 850px;font-weight: 600;">
      With the ability to help manufacturers use data to optimize processes, AI is key to manufacturing success in this
      digitally-driven age of Industry 4.0. Now, let us explore the successful journey of AI </p>
  </div>
  <div class="pointer">
    <div class="arrow-down"></div>
  </div>

</div>
<app-timeline style="overflow-x: hidden;"></app-timeline>
<div class="container-fluid">
  <div class="row" style="background-color: 828eff;height: 46vh;overflow-x: hidden;">
    <div class="col-md-6 tt">
      <p style="font-size: 20px;margin: auto;text-align:justify ;max-width: 850px;font-weight: 600;">
        Moore’s law, which says computing power doubles every two years, is getting harder to achieve on a single chip.
        Tech industry heavyweights including IBM, NVIDIA, Google and Mellanox are now working together through the
        OpenPOWER Foundation to enhance speed at the system level by engineering chips, interconnects, accelerators,
        memory and other components that work together seamlessly. This will help ensure fast and powerful AI systems
        that
        support breakthroughs on numerous key fronts. AI’s evolution will continue to drive innovation that makes for
        smarter cities, improved healthcare, and other advances that will continue to improve our lives.
      </p>
    </div>
    <div class="col-md-6 yt">
      <iframe width="573" height="300" src="https://www.youtube.com/embed/wTbrk0suwbg" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<!-- <div class="option" style="color: white;font-size: large;cursor: pointer;text-align: left;margin-left: 2%;">
  Contact Us
</div> -->